<form class="form-horizontal" method="post" data-toggle="validator">
    <fieldset>

        <div class="form-group {{if games.location "has-error"}}">
            <label for="helyszin" class="col-lg-2 control-label">Típus</label>
            <div class="col-lg-10">
                <select class="form-control" id="helyszin" name="helyszin" required>
                    <option value="Akció" selected>Akció</option>
                    <option value="Stratégia">Stratégia</option>
                    <option value="Szerep">Szerep</option>
                    <option value="Sport">Sport</option>
                    <option value="Szimulátor">Szimulátor</option>
                    <option value="MOBA">MOBA</option>
	 				<option value="MMORPG">MMORPG</option>
                </select>
                <div class="help-block with-errors">{{games.location}}</div>
            </div>
        </div>

        <div class="form-group {{if games.description "has-error"}}">
            <label for="leiras" class="col-lg-2 control-label">Név és leírás</label>
            <div class="col-lg-10">
                <textarea required class="form-control" rows="3" id="leiras" name="leiras">{{data.description}}</textarea>
                <span class="help-block">Add meg a játék nevét és rövid összefoglalóját</span>
                <div class="help-block with-errors">{{games.description}}</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
 				{{link-to "VISSZA" "games.list" class="btn btn-info"}}
                <button type="reset" class="btn btn-danger">MEGSZAKÍT</button>
                <button {{action "submit"}} class="btn btn-success">OK</button>
            </div>
        </div>
    </fieldset>
</form>        